/*
  HEADER
  Global header
*/
.site-header {
  height: 100%;

  @include bp(md){

    position: fixed;
    width: 20%;
    background: $white;
    padding: 0 0 40px 0;
  }

}


.site-header__logo {
  width: 70%;
  margin: 0 auto 20px auto;

  @include bp(sm) {
    width: 30%;
  }

  @include bp(md) {
    width: 80%;
  }
}
