</div>

<footer class="footer">
  <div class="site-footer">
    {% block footer %}
        <div class="site-footer__copy"><small>&copy Chris Cronin {{"now"|date('Y')}}</small></div>
    {% endblock %}
  </div>

</footer>
