
// ---
// Base Site Styles
// ---

// Keep it mobile first, yo! Read this:
// http://www.abookapart.com/products/mobile-first
// Actually, just buy all of those books.

// Anyways, here's how I like to structure my content styles:


// Border box all the things:

* {
	 box-sizing: border-box;
}


// ---
// General Selectors
// ---

img {
	max-width: 100%;
}


// ---
// Header
// ---

// You might want to split this into your own partial!




// ---
// Main Site Content
// ---

.wrapper {
	max-width: $screen-xl; // I'm using a pretty narrow wrapper, you might want this to be $screen-lg depending on your layout.
	width: 93%;
	margin: 20px auto;
	min-height: 1vh;
}



// ---
// Media
// ---

@media print {
  html, body {
     display: none;  /* hide whole page */
  }
}


// ---
// Footer
// ---

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: $white;
	display: inline-block;
	border-top: 1px solid lighten($black, 80%);
	width: 100%;
	z-index: 9999999;

	.site-footer__copy {
		padding: 20px;
		color: lighten($black, 50%);

		small {
			font-size: 12px;
		}
	}
}


// ---
// Misc Utilities
// ---
