.nav-main {
	max-height: 0;
	overflow: hidden;
	transition: all 0.75s ease;

	&.active {
		max-height: $screen-md;
	}

	@include bp(md) {
		max-height: none;
	  width: 240px;
	}
}

.nav-items {
	list-style-type: none;
	padding-left: 0;

	@include bp(md) {
		& > li {
			margin: 20px;
		}
	}
}



	.nav-item-link {
		padding: 1.4rem;
	}


// Link to open the nav

.nav-trigger {

	@include bp(md) {
		display: none;
	}

}
