{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
					<div class="gallery__slider">
						<div class="gallery__slider__slide">
							{% block gallery %}
							  {% for image in TimberImage(post.get_field('gallery')) %}
									<img src="{{ image }}">
							  {% endfor %}
							{% endblock %}
						</div>
					</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
