/*
  BLOCK TITLE
*/

.block-title {
  padding-left: 45px;

  @include respond-min($bp-tablet-lrg-min) {
    padding-left: 55px;
  }
}

.block-title__top {
  position: relative;
}

.block-title__image {
  display: block;
  position: absolute;
  left: -45px;

  @include respond-min($bp-tablet-lrg-min) {
    left: -55px;
  }

  img {
    max-width: 35px;
    max-height: 35px;

    @include respond-min($bp-tablet-lrg-min) {
      max-width: 45px;
      max-height: 45px;
    }
  }
}
