/*
  BREADCRUMB
*/

$fs-breadcrumb: ( g : 12, gd : 14);

.breadcrumb {
  padding: 1em 0;
}

.breadcrumb__list {
  @include list-reset;
  display: flex;
  align-items: center;

  li {
    @include list-item-reset;
    @include fs-responsive($fs-breadcrumb);
    display: inline-block;
    margin: 0 0.25em;
    line-height: 1.5;

    &:first-of-type {
      margin-left: 0;

      @include respond-max($bp-tablet-lrg-min) {
        display: none;
      }
    }

    a {
      @include fs-responsive($fs-breadcrumb);
      @include standard-link($clr-blue);
      line-height: 1.5;
    }
  }
}

.breadcrumb__divide {
  @include fs-static(12);
}
