/*
  IMAGE BLOCK
  Block for displaying a full width image or 2 inline images
*/

.image-block {
  margin: 1.5em 0;

  @include respond-min($bp-tablet-lrg-min) {
    margin: 2.5em 0;
  }
}

.image-block__col {
  margin-bottom: 0.5em;
  overflow-x: hidden;

  @include respond-min($bp-tablet-lrg-min) {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}
