/*
  POSTS
*/

.post {
  h2 {
    margin-bottom: 0.25em;
  }
}

.post--landing-main {
  margin-bottom: 1.5em;

  @include respond-min($bp-tablet-lrg-min) {
    margin-bottom: 0;
  }
}

.post--landing-secondary {
  &:first-of-type {
    margin-bottom: 1.5em;
  }
}

.post--list {
  padding-bottom: 2em;
  width: 100%;

  @include respond-min($bp-tablet-lrg-min) {
    display: flex;
    padding-bottom: 3em;
  }

  .post__thumb {
    height: auto;
    width: 100%;
    margin-bottom: 1em;

    @include respond-min($bp-tablet-lrg-min) {
      max-width: 275px;
      margin-bottom: 0;
    }

    @include respond-min($bp-desktop-min) {
      max-width: 300px;
    }
  }

  .post__excerpt {
    @include respond-min($bp-tablet-lrg-min) {
      flex: 1;
      padding-left: 1.5em;
    }
  }
}

.post__thumb {
  margin-bottom: 0.75em;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .post--videos & {
    &:before {
      content: "\f03d";
      @include fs-static(18);
      font-family: "Font Awesome 5 Free";
      font-weight: $fw-bold;
      color: $clr-white;
      background: $clr-teal;
      height: 40px;
      width: 40px;
      line-height: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
    }
  }

  .post--podcasts & {
    &:before {
      content: "\f028";
      @include fs-static(18);
      font-family: "Font Awesome 5 Free";
      font-weight: $fw-bold;
      color: $clr-white;
      background: $clr-teal;
      height: 40px;
      width: 40px;
      line-height: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
    }
  }

  .post--events & {
    &:before {
      content: "\f073";
      @include fs-static(18);
      font-family: "Font Awesome 5 Free";
      font-weight: $fw-bold;
      color: $clr-white;
      background: $clr-teal;
      height: 40px;
      width: 40px;
      line-height: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
    }
  }

  .post--news & {
    &:before {
      content: "\f1ea";
      @include fs-static(18);
      font-family: "Font Awesome 5 Free";
      font-weight: $fw-bold;
      color: $clr-white;
      background: $clr-teal;
      height: 40px;
      width: 40px;
      line-height: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
    }
  }

  .post--blogs & {
    &:before {
      content: "\f304";
      @include fs-static(18);
      font-family: "Font Awesome 5 Free";
      font-weight: $fw-bold;
      color: $clr-white;
      background: $clr-teal;
      height: 40px;
      width: 40px;
      line-height: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
    }
  }

  .post--case & {
    &:before {
      content: "\f5da";
      @include fs-static(18);
      font-family: "Font Awesome 5 Free";
      font-weight: $fw-bold;
      color: $clr-white;
      background: $clr-teal;
      height: 40px;
      width: 40px;
      line-height: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
    }
  }
}


.post__excerpt {
  @include fs-responsive($fs-content-small);

  a {
    @include fs-responsive($fs-content-small);
    @include standard-link($clr-blue);
  }
}

.posts__featured {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 3em;
  margin-bottom: 3em;
}

.posts__list {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 3em;
  margin-bottom: 3em;
}

.post-meta {
  color: #3f3f3f;
  padding-bottom: 1em;

  p {
    margin-bottom: 0;
    @include fs-static(16);

    a {
      @include standard-link($clr-blue);
      @include fs-static(16);
    }
  }
}

.post-top-content {
  padding-bottom: 2em;

  @include respond-min($bp-tablet-lrg-min) {
    padding-bottom: 3em;
  }
}
