.icons-list {
  margin-top: 20px;

  ul {
    @include list-reset;
    display: flex;

    li {
      @include list-item-reset;
    }

    a {
      box-shadow: none;
      margin-right: 0.75em;

      &:hover,
      &:active,
      &:focus {
        box-shadow: none;
      }
    }
  }
}
