{% extends "base.twig" %}

{% block content %}

<div class="content content--large">
  <div class="container">

    <h1 style="margin-bottom: 0; font-size: 60px;">404</h1>
    <h2 class="underline">Oops! That page can’t be found.</h2>
    <p>Try refreshing the page</p>
  </div>
</div>

{% endblock %}
