/*
  BUTTONS
*/

$fs-btn: ( g : 12, gt : 14, gd : 17 );

.button,
.button--orange {
  @include fs-static(12);
  padding: 0.375em 0.875em;
  font-weight: $fw-bold;
  background: $clr-orange;
  color: $clr-white;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  transition: background ease 0.15s;
  box-shadow: none;

  &:hover,
  &:focus,
  &:active {
    background: lighten($clr-orange, 5%);
    border-color: $clr-orange;
  }
}

button,
input[type="submit"] {
  line-height: 1.5;
  font-family: $f-interface;
  cursor: pointer;
}

.button--secondary,
.button--blue {
  background: $clr-blue;

  &:hover,
  &:focus,
  &:active {
    background: lighten($clr-blue, 5%);
    border-color: $clr-blue;
  }
}

.button--tertiary,
.button--teal {
  background: $clr-teal;

  &:hover,
  &:focus,
  &:active {
    background: lighten($clr-teal, 5%);
    border-color: $clr-teal;
  }
}

.button--quaternary,
.button--purple {
  background: $clr-purple;

  &:hover,
  &:focus,
  &:active {
    background: lighten($clr-purple, 5%);
    border-color: $clr-purple;
  }
}

.button--grey {
  background: $clr-grey-dark;

  &:hover,
  &:focus,
  &:active {
    background: lighten($clr-grey-dark, 5%);
    border-color: $clr-grey-dark;
  }
}

.button--yellow {
  background: $clr-yellow;

  &:hover,
  &:focus,
  &:active {
    background: lighten($clr-yellow, 5%);
    border-color: $clr-yellow;
  }
}

.button--red {
  background: $clr-red;

  &:hover,
  &:focus,
  &:active {
    background: lighten($clr-red, 5%);
    border-color: $clr-red;
  }
}

.button--lavender {
  background: $clr-lavender;

  &:hover,
  &:focus,
  &:active {
    background: lighten($clr-lavender, 5%);
    border-color: $clr-lavender;
  }
}

.button--green {
  background: $clr-green;

  &:hover,
  &:focus,
  &:active {
    background: lighten($clr-green, 5%);
    border-color: $clr-green;
  }
}

.button--medium {
  @include fs-static(14);
}

.button--large {
  @include fs-static(17);
}

.button--fluid {
  width: 100%;
}

.button--responsive {
  @include fs-responsive($fs-btn);
}

.button--center {
  margin: auto;
  display: block;
  max-width: 250px;
}

.button--icon {
  i {
    margin-left: 0.5em;
  }
}

.account__main {
  a.button {
    @include fs-responsive($fs-btn);
  }
}
